<div>
  <label for="username" class="form-label">Username</label>
  <input type="text" class="form-control" id="username" />
</div>
<div>
  <label for="password" class="form-label">Password</label>
  <input type="password" class="form-control" id="password" />
</div>