<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nook</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Nook</li>
            <li class="has-submenu">
              <a href="/">Home</a>
            </li>
            <li class="has-submenu"><a href="/dashboard">Dashboard</a></li>
            {{#if loggedIn}}
              <li class="has-submenu"><a href="/dashboard/profile">My Profile</a></li>
              <li class="has-submenu ml-auto"><a id="logout">Logout</a></li>
            {{else}}
              <li class="has-submenu ml-auto"><a href="/login">Login</a></li>
            {{/if}}

          </ul>
        </div>
        {{! <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div> }}
      </div>
    </header>
    <main class="body">
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>