<section>
  <div class="dashboard-header">
    <div class="center">
      {{#if posts.length}}
        <h1>My Posts</h1>
      {{else}}
        <h1>Dashboard</h1>
      {{/if}}
      <a href="/dashboard/new" class="button medium medium-only-expanded">+ New
        Post</a>
    </div>
  </div>
  {{#if posts.length}}
    {{#each posts as |post|}}
      <div class="post">
        <div class="grid-x">
          <div class="cell medium-8 medium-10">
            <h2><a href="/dashboard/edit/{{id}}">{{title}}</a></h2>
          </div>
          <div class="cell medium-4 large-2">
            <h3>{{format_date created_at}}</h3>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</section>