<div class="card">
  <h2 class="card-header">Edit Post</h2>
  <form id="edit-post-form" class="edit-post-form">
    <div>
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        value="{{post.title}}"
      />
    </div>
    <div>
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        rows="3"
      >{{post.content}}</textarea>
    </div>
    <div>
      <button type="submit" class="button medium medium-only-expanded">Update
        Post</button>
      <button
        type="button"
        id="delete-btn"
        class="button medium medium-only-expanded"
      >Delete</button>
      <a
        href="/dashboard"
        class="button medium medium-only-expanded cancel-btn"
      >Cancel</a>
    </div>
  </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>