<div class="card">
  <h2 class="card-header">Login</h2>
  <form class="login-form">
    {{> user-form}}
    <div>
      <button type="submit" class="btn-form">Login!</button>
    </div>
    <div>
      <a href="/signup" class="button small medium-only-expanded">Sign up
        instead</a>
      <a href="/password" class="button small medium-only-expanded">Forgot
        Password?</a>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>