<div class="card">
  <h2 class="card-header">Reset Password</h2>
  <form class="password-reset-form">
   {{> user-form}}
   <div class="btn-container">
     <div class="center">
        <button type="submit" class="btn-form">Reset!</button>
     </div>
   </div>
    <p class="errorText hidden">Both fields are required</p>
  </form>
</div>

<script src="/javascript/password-reset.js"></script>