{{> post-info post}}

{{#if loggedIn}}
<div class="post">
  <div class="row comment-header"></div>
  <div class="row post-body">
    <form id="comment-form">
      <div>
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
      </div>
      <div>
        <button type="submit" class="btn-form">Submit</button>
      </div>
    </form>
  </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}