{{> post-info post}}

{{#if loggedIn}}
<div class="post">
  {{> comments post.comments}}
  <div class="row post-body">
    <form id="comment-form">
      <div>
        <label for="comment" class="form-label">Comment
        <textarea class="form-control" id="comment" rows="3"></textarea>
        </label>
      </div>
      <div class="btn-container">
        <div class="center">
           <button type="submit" class="btn-form">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}