/* Declare CSS Variables */
:root {
  --light-purple: #dbd8e3;
  --primary-purple: #5c5470;
  --dark-purple: #352f44;
  --darker-purple: #2a2438;
}

/* General Styling */
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 2%;
  font-family: sans-serif;
}

main {
  width: 90%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styling */
a {
  color: var(--light-purple) !important;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
  background-color: var(--dark-purple);
}

.top-bar,
.has-submenu {
  background-color: var(--darker-purple);
  color: var(--light-purple) !important;
}

.menu-text {
  color: var(--dark-purple) !important;
  font-size: 1.5rem !important;
  background-color: var(--light-purple);
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  width: fit-content;
  list-style: none;
}

/* Login and Signup Form Styling */
.btn-container {
  margin-bottom: 20px;
  position: relative;
}
.center {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.btn-form {
  background-color: var(--light-purple);
  border-radius: 10px;
  color: var(--dark-purple);
  font-size: 1.5rem;
  padding: 10px 15px;
  width: 80%;
}

.separator {
  display: flex;
  align-items: center;
}

.separator p {
  color: gray;
  padding: 0.625rem 2rem 0 2rem; /* creates the space */
}

.separator .line {
  flex: 1;
  height: 2px;
  background-color: gray;
}

/* Homepage Styling */
.category-nav {
  margin-top: 0.5rem;
}

.category-nav a {
  color: var(--darker-purple) !important;
}

.category-nav a:hover {
  background-color: transparent;
}

/* Post Styling */
.post {
  margin: 0.625rem 0;
}

.cell {
  background-color: var(--primary-purple);
  color: var(--light-purple);
  font-size: 1rem !important;
  padding: 0.5rem 1.5rem;
}

.cell a:hover {
  background-color: var(--primary-purple);
}

.post-body {
  border: 2px solid var(--dark-purple);
  padding: 1%;
}
.card {
  border: none;
}

.cancel-btn {
  color: #fefefe !important;
}

.cancel-btn:hover {
  text-decoration: underline !important;
  font-weight: bold;
}

/* Dashboard Styling */
.dashboard-header,
.dashboard-header h1,
.dashboard-header a {
  display: inline-block;
}

.dashboard-header {
  margin-bottom: 2rem;
  position: relative;
}

.btn-new {
  background-color: var(--light-purple);
  border-radius: 10px;
  color: var(--dark-purple);
  font-size: 1.5rem;
  padding: 10px 20px;
  text-decoration: none;
  width: 50%;
}

.btn-new:hover {
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

.button {
  background-color: #2a2438;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 10px;
}
.button:hover {
  text-decoration: underline;
  font-weight: bold;
  background-color: var(--light-purple) !important;
  color: var(--dark-purple) !important;
}

/* Comment Styling */
.comment-header {
  background-color: var(--dark-purple);
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  justify-content: center;
  padding: 10px 12px;
}

/* Password Reset Page Styling */
.errorText {
  color: red;
  font-style: italic;
}

.hidden {
  display: none;
}

/* Responsive Styling */
@media (max-width: 500px) {
  .menu {
    background-color: var(--darker-purple);
  }
  .has-submenu {
    width: 100%;
    float: none;
  }
}
